/* General */
* , *:before, *:after {
  box-sizing: border-box;
		margin: 0;
		padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
	font-size: 18px;
  line-height: 1.35;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: #1A202C;
}

h1, h2, h3 {
	margin: 0 0 1em 0;
	font-weight: 400;
}

h1, h2 {
	font-size: 1.75em;
}

h2 {
	margin-bottom: 0;
}

h3 {
	font-size: 1.25em;
}

a {
  color: inherit;
}

p {
  margin: 0 0 1em 0;
}

hr {
	border-top: 1px dotted #1A202C;
	margin-bottom: 1em;
}

/* Lists*/
ol {
	counter-reset: ordered-list;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0.75em 0;
}

ul ul, ol ol {
	margin: 0 0 1em 0;
}

ol li {
	counter-increment: ordered-list;
}

ol li:before {
	content: "("counter(ordered-list)") ";
}

li:before {
	content: '⟶ ';
}

li li:before {
	content: ' ';
	margin-left: 0.75em;
}

/* Layout */
main {
	width: 100%;
	margin: 0;
	counter-reset: building-blocks;
}

section {
  width: auto;
  padding: 0 0.75em 0.75em 0.75em;
  margin: 0 auto;
}

.container {
	margin: auto;
	padding: 1em;
}

@media (min-width: 768px) {
	.container {
		width: 50%;
	}
}

.main-header {
	padding: 3em 1em;
	border-bottom: 1px dotted;
}

.building-block {
  display: block;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 1px dotted;
	counter-increment: building-blocks;
}

.building-block:last-child {
	border: 0;
}

.building-block__header {
	padding: 1em 0;
	background-color: inherit;
	cursor: pointer;
}

.building-block__header h2:before {
	content: "0"counter(building-blocks)" " ;
}

.building-block__body {
	display: none;
	min-height: 70vh;
}

.building-block__intro,
.building-block__cost-levels,
.building-block__tip {
	display: block;
	position: relative;
  padding: 0.75em 0.75em 0 0.75em;
  border: 1px dotted;
	margin: 0 auto;
}

.building-block__cost-levels,
.building-block__tip {
	margin-top: 55px;
}

.building-block p,
.building-block li,
.building-block h3 {
	text-align: left;
}

.building-block__tip {
	display: none;
}

.choices {
	position: relative;
}

.choices.arrow-down:before {
	bottom: -55px;
	height: 55px;
}

.choices.arrow-down:after {
	bottom: -55px;
}

.choice {
	display: block;
	cursor: pointer;
	font-size: 16px;
	padding: 0.5em;
	margin: 0 auto 0.75em auto;
	border: 1px solid;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	width: 100%;
}

.choice.clicked {
	background: #1A202C;
	color: #FFF;
	border-color: #1A202C;
}

.open {
	display: block;
}

.hide {
	display: none;
}

/* Arrows */
.arrow:before {
  content: " ";
  position: absolute;
  background-color: #1A202C;
  bottom: -41px;
  width: 2px;
  height: 40px;
  left: 50%;
  margin-left: -1px;
}

.arrow:after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -43px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #1A202C;
}
